body
{
    background-size: cover;
}
.header
{
    color: cadetblue;
    float: none;
    font-family: 'Redressed', cursive;
    box-shadow: 5px 5px 5px pink;
    width: 250px;
    height: 30px;
}
.header_div
{
    color: slateblue;
    font-family: cursive;
    box-shadow: 5px 5px 5px rosybrown;
    background-color: peachpuff;
    width: 190px;
    height: 20px;
    float: none;
}
.header_div2
{
    color: springgreen;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px powderblue;
    background-color: plum;
    font-size: 20px;
    width: 620px;
    height: 30px;
    margin-bottom: 15px;
}
.result_para_tag
{
    box-decoration-break: slice;
    background-color: palevioletred;
    font-size: medium;
    box-shadow: 2px 2px 5px royalblue;
    bottom: 0px;
    margin-bottom: 15px;
}
.para_tag
{
    box-shadow: 8px 4px 1px indigo;
    box-decoration-break: clone;
    border-radius: 8px;
    background-color:rgba(236, 116, 216, 0.7);
}
.copyright
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 150, 236);
    color: rgb(180, 232, 253);
    padding-bottom:5px;
}
canvas
{
    border: 5px ridge greenyellow;
    border-radius: 40px;
    margin-top: 150px;
    margin-bottom: 198px;
    box-shadow: 14px 10px 8px blue;
}